{# src/SAS/CoreBundle/Resources/views/Core/menu.html.twig #}

<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto">
    {% for menu in list_menu %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path(menu.rootPath) }}" onclick="addActiveClass()">{{ menu.titre|title }}</a>
        </li>
    {% endfor %}
	</ul>
</div>