{# src/SAS/CoreBundle/Resources/views/Core/menu.html.twig #}

<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="about.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="services.html">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Teachers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Admin</a>
    </li>
    
  </ul>
</div>