{# src/SAS/CoreBundle/Resources/views/Core/welcome.html.twig #}

<h1 class="my-4">Welcome to Saint Antony High Secondary School</h1>
    
<!-- Marketing Icons Section -->
<div class="row">
	{% for welcome in list_welcome %}
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">{{ welcome.title }}</h4>
            <div class="card-body">
              <p class="card-text">{{ welcome.smallContent }}</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>